<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-sm-offset-2 col-sm-8">
  <div class="field" >
    
    <%= f.text_field :theme, class: "form-control", placeholder: "Theme", :required => true%>
  </div>
  <div class="field" >
    
    <%= f.text_field :title, class: "form-control", placeholder: "Titre", :required => true%>
  </div>
  <div class="field" data-no-turbolink>
    <%= f.cktext_area :body, rows: "10", class: "form-control", placeholder: "Tapez votre article ici", :required => true %>
  </div>
  <%= f.attachinary_file_field :photo, :required => true %>
  <br>
  <br>
  <div class="actions">
    <%= f.submit class: "btn-medium", style: "float: right;"%>
  </div>
</div>
<% end %>
