<div id="header" class="text-center">

  <div class="header-content">

  <h1 style="font-size: 60px;"> KUMITY</h1>
<br>
  <% if user_signed_in? %>
  <%= link_to "Mon compte", user_my_article_path(current_user.id), style: "border: 1px solid #C2C2C2; padding: 10px 30px 10px 30px; color: #C2C2C2;" %>
      <li><%= link_to 'Se déconnecter', destroy_user_session_path, method: 'delete' %></li> 
  
  <% else %>

  <% end %>
  <h2 style="font-family: 'Lato', sans-serif;"> <span id="target"> </span><span id="cursor"></span></h2>
<br>



  </div>
</div>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center" style="font-size: 18px;">
      <%= link_to(
      content_tag(
        :i,
        " Récent", 
        class: 'fa fa-star'
      ), 
      articles_path(:article => 'recent'), style: "border: 1px solid #282828;color: #282828; background-color: white; padding: 10px 38px 10px 38px; width: 170px; color: #282828"
    ) 
%>

  <%= link_to(
      content_tag(
        :i,
        " Aléatoire", 
        class: 'fa fa-clock-o'
      ), 
      articles_path(:article => 'random'), style: "border: 1px solid #282828;color: #282828; background-color: white; padding: 10px 38px 10px 38px; width: 170px; color: #282828"
    ) 
%>

<br>
<br>

<br>
    </div>
  </div>
  <div class="row">
<% if @articles.nil? == true %>

<% else %>
  <% @articles.each do |article| %>
    <div class="col-sm-6">
      <div class="card" style="height: 400px; margin: 0 auto; margin-bottom: 30px;width: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path article.photo.path, width: 400, height: 400, crop: :fill %>')">
          <div class="card-category">Popular</div>
          <div class="card-description">
              <h2><%= article.title %></h2>
              <% article.body.split(" " || ">")[0..29].each do |word| %>
                <%= raw word %>
              <% end %>

          </div>
        <!-- <a class="card-link" href="#" style="display:block; width:100%; height:100%;"></a> -->
             <%= link_to 'Show', article_path(article), style: "display:block; width:100%; height:100%;", class: "card-link"%>
    </div>   

    </div>
  <% end %>

  <% end %>

  </div>
</div>
   
 

<br>

