<br>
<br>
<br>


<div class="container">
  <div class="row">
  	<div class="col-sm-12 text-center">
    
      <div class="card" style="height: 400px; margin: 0 auto; margin-bottom: 30px;width: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @article.photo.path, width: 600, height: 400, crop: :fill %>')">
        <div class="card-category">Popular</div>
          <div class="col-sm-12 text-center" style="position: absolute; bottom: 10px;">
              <h2><%= @article.title %></h2>
          </div>
        </div>
      </div>
  	</div>
  	<div class="col-sm-offset-2 col-sm-8">
  		<%= @article.body %>
  	</div>
  </div>
</div>




<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
<%= link_to 'Destroy', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>
